<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>p1-web-runtimeterror</display-name>
  
  <!-- front controller servlet -->
  <servlet>
  	<servlet-name>Avatar</servlet-name>
  	<servlet-class>com.revature.p1.web.servlets.AvatarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Avatar</servlet-name>
  	<url-pattern>/avatars</url-pattern>
  </servlet-mapping>
  
</web-app>